<% @review_orders.each do |item| %>
  <h2>Item: <%= item.menu_item.name %> Quantity: <%= item.quantity %>
    <%= link_to "remove", "/review/#{item.id}", method: :delete %>
  </h2>
<% end %>

<%= link_to "Order", "/orders", method: :post%>